@font-face {
	font-family: roboto;
	src: url("fonts/Roboto-Black.ttf") format("truetype");
	font-family:open-sans;
	src:url("fonts/OpenSans-Regular.ttf") format("truetype");
	font-family: ubuntu;
	src:url("fonts/Ubuntu-Regular.ttf") format("truetype");
	font-family:kavivanar;
	src:url("fonts/Kavivanar-Regular.ttf") format("truetype");
	font-family: oswald;
	src:url("fonts/Oswald-Regular.ttf") format("truetype");
	
}
@font-face{
	font-family: 'Ubuntu-Bold';
	src:url('fonts/Ubuntu-Bold.ttf') format("truetype");
	font-family:'aurora';
	src:url('fonts/Aurore.ttf') format('truetype');
}
main p{
	font-family: open-sans;
}
header h1 {
	font-family: roboto;
	color:#FF5A5F;
}
main h2 {
	font-family: roboto;
	color: hsl(175.3, 100%, 32.5%);
}

h2#kavi, p#kaviva {
	font-family: Helvetica, Impact, Lucida, Optima;

}
p#ubuntu {
	font-family: Garamond;
}
p#oswald {
	font-family: Arial;
}
p#cambria{
	font-family: Cambria, Didot, Garamond, Georgia;
}
p#goudy{
	font-family:Goudy Old Style, Hoefler Text, Lucida Bright, Palatino;
}
p#ubu {
	font-family: Ubuntu-Bold,Arial;
}
p#aurora {
	font-family: aurora;
}
p.col1{
	color:#484848;
}
p.col2{
	color: rgb(118,118,118);
}

body{

}
header ul li a, a:link{
	color: #FC6420;
}
