*{
	box-sizing: border-box;
}
@font-face {
	font-family: roboto;
	src: url("fonts/Roboto-Black.ttf") format("truetype");
	font-family:open-sans;
	src:url("fonts/OpenSans-Regular.ttf") format("truetype");
	font-family: ubuntu;
	src:url("fonts/Ubuntu-Regular.ttf") format("truetype");
	font-family:kavivanar;
	src:url("fonts/Kavivanar-Regular.ttf") format("truetype");
	font-family: oswald;
	src:url("fonts/Oswald-Regular.ttf") format("truetype");
	
}
@font-face{
	font-family: 'Ubuntu-Bold';
	src:url('fonts/Ubuntu-Bold.ttf') format("truetype");
	font-family:'aurora';
	src:url('fonts/Aurore.ttf') format('truetype');
}
#page, footer{
	width:80%;
	margin: 0 auto;
}
main {
	width:90%;
	margin: 0 auto;
}
main p{
	font-family: open-sans;
	width: 60%;
	font-size: 1.2em;
}
header h1 {
	font-family: roboto;
	color:#FF5A5F;
}
main h2 {
	font-family: roboto;
	color: hsl(175.3, 100%, 32.5%);
}

h2#kavi, p#kaviva {
	font-family: Helvetica, Impact, Lucida, Optima;

}
p#ubuntu {
	font-family: Garamond;
}
p#oswald {
	font-family: Arial;
}
p#cambria{
	font-family: Cambria, Didot, Garamond, Georgia;
}
p#goudy{
	font-family:Goudy Old Style, Hoefler Text, Lucida Bright, Palatino;
}
p#ubu {
	font-family: Ubuntu-Bold,Arial;
}
p#aurora {
	font-family: aurora;
}
p#bigger {
	font-size: 20px;
}
p.col1{
	color:#484848;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3), inset 0 0 108px rgba(238, 210, 136, .25);
	padding: .4em;
}
p.col2{
	color: rgb(118,118,118);
}

body{

}
header ul li a, a{
	color: #FC642D;
	text-decoration: none;
}
header ul li a:hover, a:hover {
	color: hsla(15.9,97.2%,58.2%, .8);
	text-decoration: underline;
}
header ul li a {
	margin-left: .4em;
	padding: .2em;
}
nav ul li {
	display: inline-block;
	font-size: 1.6em;
}
.taxonomy {
	text-shadow: .5px .5px white, -.5px -.5px #444;
	background-color:rgba(238, 210, 136, .25);
}
figure {
	text-align: center;
}
footer{
	text-align: center;
	color:#767676;
	font-size: .7em;
}
span.components {
	color: green;
	box-shadow: 6px 4px 0px hsla(175.3, 100%, 32.5%, .6);
}

section#flexSection {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

section#flexSection p{
	width: 40%;
}
section#flexSection p:nth-child(3) {
	width: 60%;
}
section#gridSection{
	display:grid;

}
section#gridSection p:nth-child(1){
	grid-column: 1/5;
	}
	section#gridSection p:nth-child(2) {
		grid-column:1/4;
	}
	section#gridSection p:nth-child(3) {
		grid-column: 5/8;
	}
	section#gridSection p:nth-child(4) {
		grid-column: 3/7;
	}
	/*pt pagina index*/
	.container {
display:grid;
  grid-template-areas: 
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.container > aside {
	
	grid-area: aside;
	}
.container > main {
	grid-area: main;
}
.container > main p{
	width: 90%;
}
.container > header {
	grid-area: header;
	text-align: center;
	background-image: linear-gradient(to bottom right, #2C54E7, #090B7A);

}
.container > footer {
	grid-area: footer;
	display: flex;
	flex-flow: row wrap;	
}
.container > footer div {
	width: 33%;
	justify-content: flex-start;
	text-align: left;
	font-size: 1.3em;
}
.container > footer a {
	color: grey;
	text-decoration: none;
}
